.hamburguesaButton {
  position: relative;
  background-color: transparent;
  border: none;
  font-size: 25px;
  padding-top: 15px;
  padding-right: 15px;
  color: rgb(16, 30, 137);
  z-index: 1000;
}
.linksHamburguesa {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 180px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
  padding-top: 20px;
  z-index: 999;

  border-left: 6px solid red;
  box-shadow: 0px 14px 16px rgba(0, 0, 0, 0.607);
}
.linksHamburguesa a {
  text-decoration: none;
  color: rgb(16, 30, 137);
  font-family: "General Sans", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
}
.socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 50px;

  gap: 10px;
  box-sizing: border-box;
}
.socials a {
  text-decoration: none;
  background-color: #ffffff;
  width: 28px;
  height: 28px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0033a0;
}
