.containerproducts {
  background-color: green;
  width: 80%;
  padding: 10px;
}
.skeleton {
  padding-left: 10px;
  padding-top: 5px;
  margin-top: 20px;
  width: 100%;
  height: 120px;
  background-color: white;
  box-sizing: border-box;
}
