---
import Image from "astro/components/Image.astro";
import { FaArrowRightLong } from "react-icons/fa6";
import { IoLocationSharp } from "react-icons/io5";
import arrow from "../assets/arrow.png";

const sucursales = [
  {
    nombre: "RINCÓN DE MILBERG",
    link: "https://maps.app.goo.gl/C21uZ7YhriW6MYk2A",
  },
  { nombre: "MARTÍNEZ", link: "https://maps.app.goo.gl/2kvM57F6QyrjkDk79" },
  {
    nombre: "EL TRIÁNGULO (FORD)",
    link: "https://maps.app.goo.gl/NaC5i9BYAQmWA2YY9",
  },
  {
    nombre: "LA LOMADA (DEL VISO)",
    link: "https://maps.app.goo.gl/47RsZnreuKANUonR9",
  },
  { nombre: "CANNING", link: "https://maps.app.goo.gl/ekv2e8hvdGeAfpzLA" },
  { nombre: "SAN FERNANDO", link: "https://maps.app.goo.gl/rGZVjgTNtZF5fzQC8" },
  { nombre: "TIGRE", link: "https://maps.app.goo.gl/i5uu4jcri5UmQWm79" },
  { nombre: "BENAVÍDEZ", link: "https://maps.app.goo.gl/DsTjCTCd3pjMHqFd9" },
  {
    nombre: "CAMAÑO (PILAR)",
    link: "https://maps.app.goo.gl/ZLBX7jqGH1C5uEsZA",
  },
  {
    nombre: "SARGENTO CABRAL",
    link: "https://maps.app.goo.gl/ucAkco37hEcXuRvj8",
  },
  { nombre: "SAN ISIDRO", link: "https://maps.app.goo.gl/CmY7xjDqKMAvuDrz5" },
  { nombre: "EL TALAR", link: "https://maps.app.goo.gl/RQHCf66LD5nknF4n8" },
  { nombre: "BELLA VISTA", link: "https://maps.app.goo.gl/Tcoy7zL5eL6FjS2C6" },
  {
    nombre: "PETIÓN (CAÑUELAS)",
    link: "https://maps.app.goo.gl/GD1oBF4yfaTky5cp8",
  },
  {
    nombre: "MORENO",
    link: "https://maps.app.goo.gl/aqJRMhf8WkRgZZwW7",
  },
];
---

<div class="contenedorPrincipal" id="Sucursales">
  <div class="contenedorSucursales">
    <div class="sucursales">
      <div class="locationIcon">
        <IoLocationSharp style={{ color: "red" }} />
      </div>
      <h2>Sucursales</h2>
    </div>
    <ul>
      {
        sucursales.map((sucursal) => (
          <li>
            <a href={sucursal.link} target="_blank" rel="noopener noreferrer">
              <div class="arrowContainer">
                <Image src={arrow} alt="Arrow Icon" class="arrowIcon" />
              </div>
              {sucursal.nombre}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  .contenedorPrincipal {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    scroll-margin-top: 70px; /* la altura de tu navbar */
  }
  .contenedorSucursales {
    width: 80%;
    height: fit-content;
    padding: 30px 0px;

    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .sucursales {
    display: flex;
    align-items: center;
    gap: 40px;

    padding: 30px;
  }
  .sucursales h2 {
    margin: 0px;
    font-family: "General Sans", sans-serif;
    font-size: 2.5rem;
  }
  .locationIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }
  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
    padding-left: 40px;
  }
  ul li {
    list-style: none;
    background-color: red;
    width: 220px;
    height: 40px;
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  ul li a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding-left: 4px;
    color: white;
    text-decoration: none;
    font-family: "General Sans", sans-serif;
    font-size: 15px;
  }
  ul li a .arrowContainer {
    width: 33px;
    height: 33px;
    border-radius: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: red;
  }
  ul li a .arrowContainer .arrowIcon {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  @media screen and (max-width: 1050px) {
    .contenedorSucursales {
      width: 100%;
    }
    .sucursales {
      gap: 20px;
      padding: 0px 20px;
    }
    .sucursales h2 {
      font-size: 1.7rem;
    }
    .locationIcon {
      font-size: 30px;
    }
    ul {
      padding-left: 20px;
    }
    ul li {
      width: 220px;
      height: 30px;
      border-radius: 28px;
    }
    ul li a {
      font-size: 15px;
      padding-left: 3px;
    }
    ul li a .arrowContainer {
      width: 25px;
      height: 25px;
    }
  }
  @media screen and (max-width: 750px) {
    .contenedorSucursales {
      width: 100%;
      align-items: center;
    }
    .sucursales {
      gap: 10px;
      padding: 0px 10px;
    }
    .sucursales h2 {
      font-size: 1.5rem;
    }
    .locationIcon {
      font-size: 25px;
    }
    ul {
      justify-content: center;
      padding-left: 0px;
    }
    ul li {
      width: 180px;
      height: 30px;
      border-radius: 28px;
    }
    ul li a {
      font-size: 12px;
      padding-left: 3px;
    }
    ul li a .arrowContainer {
      width: 25px;
      height: 25px;
    }
  }
  @media screen and (max-width: 500px) {
    ul li {
      width: 140px;
      height: 30px;
    }
    ul li a {
      font-size: 0.6rem;
    }
  }
</style>
