---
import Image from "astro/components/Image.astro";
import heroImage from "../assets/HeroImage.png"
import bebidas from "../assets/bebidas.png"
import { IoIosArrowDown } from "react-icons/io";

---
<div class="contenedorImagenHero">
	<Image src={heroImage} alt="Hero Image" class="imagenHero" />
	<div class="confianza">
		<h3>TODO LO QUE <br>
			BUSCÁS, CON LA <br>
			CONFIANZA DE <br>
			SIEMPRE.
		</h3>
		<IoIosArrowDown size={30}/>
	</div>
	<div class="bebidas">
		<Image src={bebidas} alt="Bebidas" class="bebidas" />
	</div>
</div>

<style>
.contenedorImagenHero {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: red;
}
.imagenHero {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.confianza{
	position: absolute;
	top: 12%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}
.confianza h3{
	text-align: center;
	margin: 0px;
	font-size: 2.1rem;   /* ≈53.333px */
  line-height: 1;  
	font-family: "General Sans", sans-serif;
	font-weight: 100;
}
.bebidas {
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);

	width: 75%;
	height: auto;
}
</style>

